<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>
        {% block title %} ShareSquare Homepage {% endblock title %}
    </title>
    <script src="{% static 'meta.json' %}"></script>

</head>
<body>

    {% if user.is_authenticated %}
    <nav>
        <a href="/">Home</a>
        <a href='viewpostpage'>Groups</a>
        <a href="addgroup">AddGroups</a>
        <form action="{% url "logout_page" %}" method="post">
            {% csrf_token %}
            <button type="submit" id="logout-button">Logout</button>
        </form>

    </nav>
    {% else %}

    <nav>
        <a href="/">Home</a>
        <a href="signup">Sign-Up</a>
        <a href="signin">Sign-In</a>
    </nav>

    {% endif %}

    {% block content %} 
    {% block message %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% endblock message %}

    <h1 style="
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;">
            HowsApp📞
        </h1>
    </h1>
    <p style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;">Welcome to <i>HowsApp</i>  a dynamic messaging platform where every user's voice matters.n. With its intuitive interface and robust features, Howsapp offers a seamless messaging experience for individuals and teams alike. expand this Join us in embracing the diversity of human expression and exploration.</p>
    
    
    {% endblock content %}



    <footer style="
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    text-align: center;
    padding: 10px 0;">
        <a href="https://www.linkedin.com/in/ragul-k-aa650a28a/" target="_blank">LinkedIn</a>
        <p>© 2024 HowsApp. All rights reserved. This website is owned by Ragul.</p>
    </footer>
   
</body>
</html>
